.LoginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}
.login-form{
    margin-top: 1em;
}
.login-form input{
    width: 300px;
    height: 40px;
    border-radius: 5px;
}
.login-form button{
    width: 80px;
    height: 30px;
    background-color: #74ABF3;
    border-radius: 5px;
}