#landing-page{
    display: flex;
    flex-direction: row;
    gap: 1.8rem;
  }
  #pages{
   
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 98vh;
   
   
  }
  #NavRight{
    width: 25%;
    padding: 0;
   
    
    
  }
  #NavLeft{
    width: 15%;
    padding: 0;
    
    
  }
 