.notifications-container{
    background-color: #F5F7F9;
}
.notification-item{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    background-color: #EFF1F3;
    border-bottom: 1px solid gainsboro;
    margin: 10px;
    
}
.notification-avatar {
   display: flex;
   flex-direction: column;
   gap: 3px;
}
.notification-avatar img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
 }
.notification-list{
    list-style: none;
}