#profilepage-main{
    display: flex;
    flex-direction: column;
    padding-left: 5em;
    padding-right: 5em;
    min-height: 50vh;
    justify-content: center;
   
    
    
  }
  .card {
    --main-color: #000;
    --submain-color: #78858F;
    --bg-color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 0px;
    border-top: 2px solid#78858F;
    border-radius: 20px;
    background: var(--bg-color);
  }
  
  .card__img {
    height: 250px;
    width: 100%;
  }
  
  .card__img img {
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .card__avatar {
    position: absolute;
    background: var(--bg-color);
    border-radius: 100%;
    display: flex;
    top: calc(50% - 57px);
    margin-left: 3rem;
  }
 
  
  .card__title {
    margin-top: 60px;
    font-weight: 500;
    font-size: 18px;
    color: var(--main-color);
  }
  
  .card__subtitle {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
    color: var(--submain-color);
    margin-bottom: 5px;
  }
  
  .card__btn {
    margin-top: 15px;
    width: 76px;
    height: 31px;
    border: 2px solid var(--main-color);
    border-radius: 4px;
    font-weight: 700;
    font-size: 11px;
    color: #ffff;
    background: linear-gradient(90deg,#1c1c1c,#6220fb);
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .card__btn-solid {
    background: var(--main-color);
    color: var(--bg-color);
  }
  
  .card__btn:hover {
    background: gainsboro;
    color: var(--bg-color);
  }
  
  .card__btn-solid:hover {
    background: var(--bg-color);
    color: var(--main-color);
  }

.email-editprofile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    padding-left: 10px;
    padding-right: 10px;

}
.post-logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
  #logout{
    
    height: 30px;
    background-color: #74ABF3;
    border-radius: 5px;
  }
  .bio{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    padding-bottom: 10px;
    width: 100%;
    height: 100px;
    
  }
  .bio h5{
    font-size: small;
    padding-left: 10px;
    margin: 0px;

    text-align: left;
   }
  @media screen and (max-width: 480px) {
    #profilepage-main{
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 100%;
    }
    .card {
      display: flex;
      flex-direction: column;
      width: 100%;
     
    }
    #profiledetails{
      width: 100%;
    }
    
  }