#root {
  width: 100%;
  margin: 0 auto;
 
  background-color: #F5F7F9;
 
  color: black;
  font-size: 20px;
  height: 100%;
}
@media screen and (max-width: 768px ){
  #root {
    font-size: smaller;
    min-width: 330px;
  }
}