.chat-window-container{
    background-color: #F5F7F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.chat-input{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: end;
    gap: 3px;
}

.chat-input input{
    width: 500px;
    height: 100px;
    text-align: justify;
}