.chat-list-container{
    background-color: #F5F7F9;
}
.chat-list-container h2{
   border-bottom: 2px solid gainsboro;
  
}
.chat-item{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 15px;
    align-items: center;
    /* justify-content: center; */
    background-color: #EFF1F3;
    border-bottom: 1px solid gainsboro;
    margin: 10px;
}
.chat-item-avatar{
    display: flex;
   flex-direction: column;
   gap: 3px;
}
.chat-list{
    list-style: none;
}