.friend-item{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 15px;
    align-items: center;
    /* justify-content: center; */
    background-color: #EFF1F3;
    border-bottom: 1px solid gainsboro;
    margin: 10px;
}
.friend-avatar{
    display: flex;
    flex-direction: column;
    gap: 3px;
}