#leftSideNav {
  background-color: #eceff3;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  position: fixed;
  height: 76vh;
  border-radius: 10px;
  left: 0;
}

#leftnav-btn {
  margin-top: 5px;
  height: 80px;
  margin-top: 15px;

  border-radius: 5px;
  display: flex;
  flex-direction: row;
  color: #74abf3;
  gap: 1.5;
  align-items: center;
}

#leftnav-btn:hover {
  background-color: #f5f7f9;
}

#leftnav-avatar {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  align-items: center;
  color: #74abf3;
  height: 80px;
  margin-top: 15px;
}
#leftSideNav-mobile{
  display: none;
}
