#leftSideNav {
   background-color: #eceff3;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: fixed;
    margin-left: 19px;
    
    left: 0;
   
  }
  
  #leftnav-btn {
   margin-top: 5px;
    height: 80px;
    margin-top: 15px;
    background-color: #74abf3;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    gap: 1.5;
    align-items: center;
  
  }
  
  #leftnav-btn:hover {
    background-color: #f5f7f9;
  }
  

  
  
  #leftnav-avatar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
  }
  

  