#leftSideNav {
    background-color: #74abf3;
    height: 98vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: fixed;
    width: 15%;
    transition: width 0.3s ease-in-out;
    left: 0;
    transform: translateX(0);
  }
  
  #leftSideNav.compressed {
    width: 55px;
  }
  
  #logo {
    width: 100%;
    height: 45px;
  }
  
  #leftnav-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
    border-radius: 0;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;
  }
  
  #leftnav-btns.hide {
    opacity: 0;
  }
  
  #leftnav-btn {
    width: 100%;
    height: 80px;
    background-color: #74abf3;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    gap: 1.5;
    align-items: center;
    padding: 15px;
  }
  
  #leftnav-btn:hover {
    background-color: #f5f7f9;
  }
  

  #icons:hover {
    color: #74abf3;
  }
  
  #leftnav-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #74abf3;
    color: #fff;
    height: 40px;
  }
  
  #toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #74abf3;
    color: #fff;
    height: 40px;
    transition: width 0.3s ease-in-out;
  }
  
  /* #toggle-btn:hover {
    background-color: #f5f7f9;
  } */
  
  #toggle-btn.hide {
    width: 0;
  }
  