#rightSideNav{
    background-color: #74ABF3;
    height: 96vh;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    position: fixed;
    width: 25%;
}


  #trends{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 15px;
    height: 254px;
    background: #EFF1F3;
    position: relative;
    display: flex;
    padding-left: 5px;
    padding-right: 10px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 20px;
  }
  #signin-signup button {
    z-index: 1;
    color: #7F8A86;
    font-size: 2em;
    background-color: #D4E6F3;
    width: 80%;
  }
  
  #signin-signup::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  #signin-signup::after {
    content: '';
    position: absolute;
    background: #EFF1F3
    ;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
 
  #platform-users {
    margin-top: 20px;
  }
  
  #platform-users h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #platform-users ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #platform-users li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #platform-users li span {
    margin-right: 10px;
    font-weight: bold;
  }
  
  #platform-users li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  @media screen and (max-width: 768px) {
    #rightSideNav {
      padding: 0;
      height: 100%;
    }
  #platform-users ul{
    display: flex;
    flex-direction: column;
  }
  #platform-users li {
    flex-direction: column;
  }
  }